body{
    background-color: #d4a030;
}
table, section {
    margin-left: auto;
    margin-right: auto;
}
* {
    align-content: center;
    align-items: center;
    text-align: center;
    color: #000003;
    font-family: Arial, sans-serif;
}
h2{
    font-family: 'Times New Roman', serif ;
}
h1{
    font-family: Georgia, serif;
}
input[type=text] ,  textarea {
    border: none;
    border-bottom: 2px solid black;
    background-color: #d4a030;
    color: #000003;
}